apache-camel/src/main/resources/wsdl/invoices.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://co.wgmartinez.wsdl/invoice-ws/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://co.wgmartinez.wsdl/invoice-ws/"
                  targetNamespace="http://co.wgmartinez.wsdl/invoice-ws/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="http://co.wgmartinez.wsdl/invoice-ws/">

            <xs:complexType name="invoice">
                <xs:sequence>
                    <xs:element name="invoiceReference" type="xs:string"/>
                    <xs:element name="orderReference" type="xs:string"/>
                    <xs:element name="customerReference" type="xs:string"/>
                    <xs:element name="amount" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="statusCode" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="addInvoiceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orderReference" type="xs:string"/>
                        <xs:element name="customerReference" type="xs:string"/>
                        <xs:element name="amount" type="xs:decimal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="addInvoiceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                        <xs:element name="invoice" type="tns:invoice"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>


    <wsdl:message name="addInvoiceResponse">
        <wsdl:part element="tns:addInvoiceResponse" name="addInvoiceResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="addInvoiceRequest">
        <wsdl:part element="tns:addInvoiceRequest" name="addInvoiceRequest">
        </wsdl:part>
    </wsdl:message>


    <wsdl:portType name="InvoiceServicePortType">
        <wsdl:operation name="addInvoice">
            <wsdl:input message="tns:addInvoiceRequest" name="addInvoiceRequest">
            </wsdl:input>
            <wsdl:output message="tns:addInvoiceResponse" name="addInvoiceResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>


    <wsdl:binding name="InvoiceServicePortTypeSoap11" type="tns:InvoiceServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="addInvoice">
            <soap:operation soapAction="http://co.wgmartinez.wsdl/invoice-ws/addInvoice"/>
            <wsdl:input name="addInvoiceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addInvoiceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="InvoiceService">
        <wsdl:port binding="tns:InvoiceServicePortTypeSoap11" name="InvoiceServicePortTypeSoap11">
            <soap:address location="http://localhost:8080/soapws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>